.dialog{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    left: 0%;
    top:0;
    width: 100%;
    height: 100%;
}


.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 25px;
    background: white;
}

.content span{
    width: 100px;
    text-align: right;
    display: inline-block;
}